* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #800062;
    color: white;
}

header h1 {
    font-size: 2em;
}

header p {
    font-size: 1.1em;
}

section {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px 0;
    padding: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5em;
    color: #80007a;
    margin-bottom: 10px;
}

section p {
    font-size: 1em;
    line-height: 1.5;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #6f0080;
    color: white;
    font-size: 0.9em;
}

footer button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #4f0769;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #430420;
}
